<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>248006366909-rt82q859f9fmhavnhad1gag4m1sgsgff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248006366909-rt82q859f9fmhavnhad1gag4m1sgsgff</string>
	<key>API_KEY</key>
	<string>AIzaSyDU8GO_UXtRU4bBSuMLXiql1K1Y70BbNpU</string>
	<key>GCM_SENDER_ID</key>
	<string>248006366909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hackerpug.trumplibs</string>
	<key>PROJECT_ID</key>
	<string>trump-libs</string>
	<key>STORAGE_BUCKET</key>
	<string>trump-libs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248006366909:ios:e1e437f0ea053543</string>
	<key>DATABASE_URL</key>
	<string>https://trump-libs.firebaseio.com</string>
</dict>
</plist>